body {
	padding: 0;
	margin: 0;
	font-family: 'Fjalla One', sans-serif;
}

a {
	color: white;
	text-decoration: none;	
}

a:hover {
	color: #66ccff;
	text-decoration: none;	
}

.divider {
	width:200px;
	height:auto;
	display:inline-block;
}

.loginContainer {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}